<!-- extend base layout -->
{% extends "base.html" %}



{% block main %}
   <h2>Please login</h2>
   <br>
   <form id="login_form"action="" method="post">
       <input type="text" placeholder="Email" name="email" id="email" value="{{ form.email }}">
       <input type="password" placeholder="Password" name="password" value="{{ form.password }}">
       <input class="btn btn-default" type="submit" id="login_btn" value="Login">
       <a href="{{ url_for('profile_add') }}"class="btn btn-default">Register</a>
       
    </form>
    <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
    <script type="text/javascript">
    
    window.store = {
    localStoreSupport : function() {
        try {
            return 'localStorage' in window && window['localStorage'] !== null;
        } catch (e) {
            return false;
        }
    },
    set : function(name,value,days) {
        if (days) {
            var date = new Date();
            date.setTime(date.getTime()+(days*24*60*60*1000));
            var expires = "; expires="+date.toGMTString();
        }
        else {
            var expires = "";
        }
        if( this.localStoreSupport() ) {
            localStorage.setItem(name, value);
        }
        else {
            document.cookie = name+"="+value+expires+"; path=/";
        }
    },
    get : function(name) {
        if( this.localStoreSupport() ) {
            return localStorage.getItem(name);
        }
        else {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        }
    },
    del : function(name) {
        if( this.localStoreSupport() ) {
            localStorage.removeItem(name);
        }
        else {
            this.set(name,"",-1);
        }
    }
}
    
      $( "#login_form" ).submit(function( event ) {
         user = $('#email').val();
         store.set("nowUser", user)
      });
    </script>
{% endblock %}